header
  if (user)
    nav 
      a(href="/") Home
      a(href="/people") People
      a(href="/session") Session
      a(href="/logout") Log out
    span.user= user.displayName
      img(src= user._json.profile_image_url)
  else
    nav 
      a(href="/auth/twitter") Log in